<div class="container-fluid center-block" style="font-family:century gothic; width:780px; margin:1% auto;">
  <div *ngIf="!logined" class="login center-block">
    <h2 class="title">Login to Chat</h2>
    <form [formGroup]="form" id="login-form">
      <mat-form-field appearance="outline" class="fw">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="outline" class="fw">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
      <mat-form-field appearance="outline" class="fw">
        <button type="submit" matSuffix mat-icon-button aria-label="Submit" onclick="login()">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </div>
  <div *ngIf="logined" class="row center-block">
    <h3 class="text-center">Realtime Chat Application</h3>
    <div id="messages">
      <div class="col-sm-3">
        <h4 class="text-center">Username(s)</h4>
        <div *ngFor="let logined of logineds" class="mb">
          <mat-card>
            <mat-card-subtitle>
              <span>{{logined.login.name}} - {{logined.login.username}} (ConnectId: {{logined.connectionId}})</span>
            </mat-card-subtitle>
          </mat-card>
        </div>
      </div>
      <div class="col-sm-3">
        <h4 class="text-center">Post</h4>
        <div *ngFor="let post of posts" class="mb">
          <mat-card>
            <mat-card-subtitle>
              <span>{{post.username}} (Sent: {{post.timestamp | date:'long'}})</span>
            </mat-card-subtitle>
            <mat-card-content>
              <p>{{post.message}}</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <form id="post" [formGroup]="post_form">
            <mat-form-field appearance="outline" class="fw">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline" class="fw">
              <mat-label>Enter Chat</mat-label>
              <input matInput formControlName="message">
              <button type="submit" matSuffix mat-icon-button aria-label="Submit" onclick="onPostSubmit(form.value)">
                <mat-icon>send</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="col-sm-3">
        <h4 class="text-center">Message Private</h4>
        <div *ngFor="let msg of messages" class="mb">
          <mat-card>
            <mat-card-subtitle>
              <span>{{msg.username}} (Sent: {{msg.timestamp | date:'long'}})</span>
            </mat-card-subtitle>
            <mat-card-content>
              <p>{{msg.message}}</p>
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <form id="message" [formGroup]="message_form">
            <mat-form-field appearance="outline" class="fw">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username">
            </mat-form-field>
            <mat-form-field appearance="outline" class="fw">
              <mat-label>Enter Chat</mat-label>
              <input matInput formControlName="message">
              <button type="submit" matSuffix mat-icon-button aria-label="Submit" onclick="onMessageSubmit()">
                <mat-icon>send</mat-icon>
              </button>
            </mat-form-field>
          </form>
        </div>
      </div>
      <div class="col-sm-3">
        <h4 class="text-center">Pulsar Log</h4>
        <div *ngFor="let msg of pulsar" class="mb">
          <mat-card>
            <mat-card-content>
              <p>{{msg}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>  
</div>
